.card {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 15px 10px 25px 0px #3fa1a9;
    background: #fff;
    background-image: linear-gradient(to right, #2ebf91, #8360c3);
    /* background-image: url('https://flyclipart.com/thumb2/meter-46205.png'); */
    /* background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf2.png?raw=true'), url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true'); */
    background-repeat: no-repeat, no-repeat;
    background-position: 120% -5%, 200% -40%;
    background-size: 58.5%, 80%;
    animation: open .5s;
}

@keyframes open {
    0% {
        background-position: 166% -25%, 220% -69%;
    }

    100% {
        background-position: 120% -5%, 200% -40%;
    }
}

#profile {
    height: 100%;
    overflow: auto;
}

.profileImg {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    max-height: 80vh;
    padding: 5rem 2rem 2rem 2rem;
    flex-direction: column;
    border-radius: 10px;

    margin-top: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    background-color: #fafafa;

}

.profileDetails {
    background-color: white;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    min-height: 80vh;
    max-height: 80vh;
    justify-content: center;
    padding: 2.55rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    flex-direction: column;
}

.profileImg:hover,
.profileDetails:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


.p_img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

.profileName h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 991px) {
    .profileImg {
        padding: 2rem;
        align-items: center;
        min-height: auto;
        max-height: auto;

    }

    .p_img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;

    }

    .profileDetails {
        max-height: 55vh;
        min-height: 55vh;

    }

    .card {
        background-size: 100%, 80%;
    }

}